<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="scottconnectionstring"
         connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)
                          (HOST=10.254.62.38)(PORT=1521)))
                          (CONNECT_DATA=(SERVER=DEDICATED)
                          (SERVICE_NAME=PAJAK)));User Id=scott;Password=tiger;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
